<html>
<title>Lottery Game</title>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="scripts.js"></script>
    <link rel="stylesheet" type="text/css" href="index.css">

</head>
<body>
<h1>Lottery</h1>
<div class="inner clr">
<div class="com_inner clr">
<div class="sudo_4 float_left">
    <div class="jackpots">
        <h2>
            <span class="headline">This Wednesday</span>
            <span class="amount amount_large">£7.8
                <span aria-hidden="true">M</span>
                <span class="vh">Million</span>
                <span class="asterisk">*</span>
            </span>
        </h2>
    </div>
</div>
</div>
<div class="sudo_8 float_right">
 <table>
        <tbody>
        <tr id="tr1">
            <td><button class="btn" name="btn_1" id="btn1">LUCKY DIP </button></td>
            <td><input class="numeric" type="number" name="input1" value="" min="0" max="9"/></td>
            <td><input class="numeric" type="number" name="input2" value="" min="0" max="9"/></td>
            <td><input class="numeric" type="number" name="input3" value="" min="0" max="9"/></td>
            <td><input class="numeric" type="number" name="input4" value="" min="0" max="9"/></td>
            <td><input class="numeric" type="number" name="input4" value="" min="0" max="9"/></td>
            <td><input class="numeric" type="number" name="input4" value="" min="0" max="9"/></td>
            <td><button class="btn">X</button></td>
        </tr>
        <tr id="tr2">
            <td><button class="btn" name="btn_2"  id="btn2">LUCKY DIP </button></td>
            <td><input class="numeric" type="number" name="input1" value="" min="0" max="9"/></td>
            <td><input class="numeric" type="number" name="input2" value="" min="0" max="9"/></td>
            <td><input class="numeric" type="number" name="input3" value="" min="0" max="9"/></td>
            <td><input class="numeric" type="number" name="input4" value="" min="0" max="9"/></td>
            <td><input class="numeric" type="number" name="input4" value="" min="0" max="9"/></td>
            <td><input class="numeric" type="number" name="input4" value="" min="0" max="9"/></td>
            <td><button class="btn">X</button></td>
        </tr>
        <tr id="tr3">
            <td><button class="btn" name="btn_3"  id="btn3">LUCKY DIP </button></td>
            <td><input class="numeric" type="number" name="input1" value="" min="0" max="9"/></td>
            <td><input class="numeric" type="number" name="input2" value="" min="0" max="9"/></td>
            <td><input class="numeric" type="number" name="input3" value="" min="0" max="9"/></td>
            <td><input class="numeric" type="number" name="input4" value="" min="0" max="9"/></td>
            <td><input class="numeric" type="number" name="input4" value="" min="0" max="9"/></td>
            <td><input class="numeric" type="number" name="input4" value="" min="0" max="9"/></td>
            <td><button class="btn">X</button></td>
        </tr>
        <tr id="tr4">
            <td><button class="btn" name="btn_4"  id="btn4" >LUCKY DIP </button></td>
            <td><input class="numeric" type="number" name="input1" value="" min="0" max="9"/></td>
            <td><input class="numeric" type="number" name="input2" value="" min="0" max="9"/></td>
            <td><input class="numeric" type="number" name="input3" value="" min="0" max="9"/></td>
            <td><input class="numeric" type="number" name="input4" value="" min="0" max="9"/></td>
            <td><input class="numeric" type="number" name="input4" value="" min="0" max="9"/></td>
            <td><input class="numeric" type="number" name="input4" value="" min="0" max="9"/></td>
            <td><button class="btn">X</button></td>
        </tr>
        <tr id="tr5">
            <td><button class="btn" name="btn_5"  id="btn5">LUCKY DIP </button></td>
            <td><input class="numeric" type="number" name="input1" value="" min="0" max="9"/></td>
            <td><input class="numeric" type="number" name="input2" value="" min="0" max="9"/></td>
            <td><input class="numeric" type="number" name="input3" value="" min="0" max="9"/></td>
            <td><input class="numeric" type="number" name="input4" value="" min="0" max="9"/></td>
            <td><input class="numeric" type="number" name="input4" value="" min="0" max="9"/></td>
            <td><input class="numeric" type="number" name="input4" value="" min="0" max="9"/></td>
            <td><button class="btn">X</button></td>
        </tr>
        </tbody>
 </table>
</div>
    <button class="btn">Play </button>
</div>
</body>
</html>